.clients-list {
    // display: flex;
    // justify-content: space-between;
    // width: 1170px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients-list-item {
    width: 100%;
    @media screen and (max-width: 767px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 150px) / 6);
    }

  }
  .clients-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .clients-icon-logo {
    fill: var(--accent-color);
    }
    &:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    }
  }
  .clients-icon-logo {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 