.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #2f303a;

    &-adress {
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline; 
        flex-wrap: wrap;
        justify-content: center; 
      }
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;    
      }
    
    }  
  }
  .footer-wrapper{
    
    @media screen and (max-width: 767px) {
      text-align: center;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      margin-right: 165px;
    }
  }
 
  .info-footer {
    margin-top: 20px;
  }
  
  .about-footer:not(:last-child) {
    margin-bottom: 9px;
  }
  .adres {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
  }
  .mail-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
    opacity: initial;
}
  }
  .tel-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
     opacity: initial;
}
  }
  
  .connect {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 00.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color-dark);
    margin-bottom: 20px;
  }


