.main-title {
    //width: 696px;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-dark);
    max-width: 360px;
  }
  .clients-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
  }
  .contact-form-field-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  }