:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --primery-text-color: #212121;
    --secondary-text-color-light: #757575;
    --secondary-text-color-dark: #ffffff;
    --primery-text-color-logo: #000000;
  }